* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
}

header {
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}

h1 {
    font-size: 2.5rem;
}

section {
    display: flex;
    background-image: url("../assets/Original-marcos-paulo-prado-7O7LYcJ7amY-unsplash.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 80vh;
    padding: 40px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

p {
    margin-bottom: 20px;
    text-align: justify;
    color: white;
}

.formContainer {
    max-width: 400px;
    background-color: #AAAA;
    padding: 20px;
    border-radius: 16px;
    float: right;
}

input {
    text-align: center;
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    border-radius: 4px;
    border: none;
    height: 40px;
}

button {
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px 4px 0 0;
    border:none;
    width: 100%;
    height: 40px;
    color: white;
    background-color: orange;
    font-size: 1.5rem;
}

#resultado {
    margin-top: 0;
    padding: 10px;
    border-radius: 0 0 16px 16px;
    text-align: right;
    background-color: orange;
}

#resultado p {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: right;
}

footer {
    padding: 10px;
    text-align: center;
    background: black;
}

footer h4 {
    color: white;
}

@media screen and (max-width: 1100px){
    
    .container {
        margin: auto;
    }
    
    .formContainer {
        max-width: 100%;
        padding: 10px;
        border-radius: 16px;
        float: none;
    }

    input {
        font-size: 1.5rem;
    }

    button {
        height: 60px;
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    p {
        font-size: 2rem;
    }

    h4 {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 800px){

    section {
        height: 75vh;
    }
}

@media screen and (max-width: 640px) {

    h1 {
        font-size: 1.5rem;
    }

    section {
        padding: 4px;
        height: 80vh;
    }

    .formContainer {
    padding: 10px;
    border-radius: 16px;
    float: none;
    height: auto;
    }

    input {
        font-size: 1rem;
    }

    button {
        font-size: 1.5rem;
    }

    h2 {
        text-align: center;
        margin-bottom: 20px;
        font-size: 24px;
    }
    
    p {
        margin-bottom: 20px;
        text-align: justify;
        font-size: 16px;
    }

    input {
        width: 100%;
        display: block;
        padding: 2px;
        box-sizing: border-box;
        margin-bottom: 10px;
        border-radius: 4px;
        border: none;
        text-align: center;
        height: 40px;
    }
    
    button {
        margin-bottom: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 4px 4px 0 0;
        border:none;
        width: 100%;
        background-color: orange;
        margin-bottom: 0;
    }

    #resultado p {
        margin-top: 1px;
    }

    h4 {
        font-size: small;
    }
}

@media screen and (max-height: 568px){

    body {
        height: auto;
    }
    section {
        height: 78vh;
    }

    h2 {
        margin-bottom: 5px;
    }
    
    p {
        margin-bottom: 5px;
    }

    #resultado p {
        margin: auto;
    }
}