* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url("../assets/Large-marcos-paulo-prado-7O7LYcJ7amY-unsplash.png");
    background-size: cover;
    background-position: center;
    background-color: black;
    background-repeat: no-repeat;
    color: white;
    font-weight: 500;
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
}

main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h1 {
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

section {
    background-color: #AAAA;
    border-radius: 16px;
    padding-top: 1rem;
}

.formContainer {
    width: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.formContainer h2 {
    font-size: 2.5rem;
    text-align: center;
    color: darkorange;
}

.formContainer p {
    font-size: 1.2rem;
    text-align: justify;
    margin-top: 10px;
}

.formContainer span {
    text-align: center;
    font-size: 1.1rem;
    margin-top: 1rem;
}

.formContainer input {
    width: 90%;
    height: 50px;
    padding: 0 0.5rem;
    margin-top: 0.5rem;
    font-size: 1rem;
    text-align: center;
    border-radius: 8px;
}

.formContainer button {
    width: 60%;
    height: 50px;
    padding: 0 0.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    border-radius: 8px;
    cursor:pointer;
    background-color: rgb(248, 198, 90);
    color: white;
    font-size: 1.5rem;
}
.formContainer button:hover {
    background-color: orange;
    color: white;
}

#resultado {
    width: 95%;
    padding: 0.5rem 2rem;
    border-radius: 8px;
    background-color: darkorange;
    margin-bottom: 1rem;
}

#resultado p {
    text-align: right;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 50px;
    background-color: black;
    margin-top: 2rem;
}

footer p {
    text-align: center;
    font-size: 1rem;
}

@media screen and (max-width: 1024px) and (min-width: 801px){
    
    .formContainer {
        width: 75vw;
        padding: 16px;
    }

    .formContainer h2 {
        font-size: 2.5rem;
    }
    
    .formContainer p {
        font-size: 2rem;
        text-align: justify;
        margin-top: 10px;
    }

    .formContainer span {
        font-size: 2rem;
        margin-top: 1rem;
    }
    
    .formContainer input {
        height: 70px;
        font-size: 2.5rem;
    }

    .formContainer button {
        height: 80px;
        font-size: 3rem;
    }

    #resultado p {
        font-size: 2rem;
    }

    footer {
        padding: 40px;
    }

    footer p {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 800px) {

    main h1 {
        font-size: 1.5rem;
    }

    .formContainer {
        width: 95vw;
        padding: 16px;
    }
    
    .formContainer h2 {
        font-size: 1.5rem;
    }
    
    .formContainer p {
        font-size: 1rem;
        text-align: justify;
        margin-top: 10px;
    }
    
    .formContainer span {
        font-size: 1rem;
        margin-top: 1rem;
    }
    
    .formContainer input {
        width: 90%;
        height: 50px;
        padding: 0 0.5rem;
        margin-top: 0.5rem;
        font-size: 1rem;
        border-radius: 8px;
    }
    
    #resultado p {
        font-size: 1.5rem;
    }
}